$white: #ffffff;
$section-black: #202020;
$orange: #FF6E30;
$gray: #999999;
$about-gray: #cacaca;
$footer-gray: #666666;
$brown: #BC572B;
$maroon: #CE4307;
$header-gray: #4a4a4a;

$container-padding: 20px;
$columns: 12;
